@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 29, 49, 91, 0.95;
  --background-end-rgb: 19, 38, 64, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at 50% 0%,
    rgba(var(--background-start-rgb)) 10%,
    rgba(var(--background-end-rgb)) 85%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
